TELEGRAM_TOKEN={{TELEGRAM_BOT_TOKEN}}
GROUP_ID={{TELEGRAM_GROUP_ID}}
ADMIN_IDS={{ADMIN_TELEGRAM_IDS_COMMA}}
KIMI_API_KEY={{KIMI_API_KEY}}
KIMI_API_BASE={{KIMI_BASE}}
KIMI_MODEL={{KIMI_MODEL}}
KIMI_USER_AGENT={{KIMI_USER_AGENT}}
DATA_DIR={{DATA_DIR}}
CONFIG_FILE={{CONFIG_FILE}}
BUSINESS_NAME={{BUSINESS_NAME}}
AGENT_NAME={{AGENT_NAME}}
